
body {
  margin: auto;
  padding-top: 40px;
  width: 800px;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
  background-color: #E0E0B3;
}

h1 {
}

li {
  font-size: 16pt;
  list-style-type: lower-greek;
}
